.nav-link a:link {
  text-decoration: none;
  color:#66788A;
}
.nav-link a:visited {
  text-decoration: none;
}
.nav-link a:hover {
  text-decoration: none;
  color:#212529;
}

.box {
  width:200px;
  height:200px;
  margin:10px;
}

.inactive{
  background-color: "yellow",
}
.active{
  background-color: "red",
}


