.nav-link a:link {
  text-decoration: none;
  color:#66788A;
}
.nav-link a:visited {
  text-decoration: none;
}
.nav-link a:hover {
  text-decoration: none;
  color:#212529;
}

.App {
  display: flex;
  height:100vh;
  justify-content: center;
  align-items:space-around;
  flex-flow: row wrap;
}
.nav-table-inactive {
  background-color: white !important;
}

.nav-table-active {
  background-color: #303F9F !important;
  color: white !important; 
}
.box {
  background-color: white;
  border: 1px solid #303F9F !important;
  color: #303F9F;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 40px;
}

.nav-active {
  /* background-color: red !important; */
  border-left: 3px solid #303F9F !important;
  background-color:  #d0e4ff !important;
}


.button-green {
  background-color: white !important;
  border: 1px solid #47B881 !important;
  color: #47B881;
  width: 200px;
  height: 40px;
  margin-right: 10px !important;
}

.button-green:hover {
  background-color: #47B881 !important;
  border: 1px solid white !important;
  color: black !important;
  width: 200px;
  height: 40px;
  margin-right: 10px !important;
}
.button-green-active {
  background-color: #47B881 !important;
  border: 1px solid white !important;
  color: white !important;
  ;

}
.button-blue {
  background-color: white !important;
  border: 1px solid #4352db !important;
  color: #4352db;
  width: 200px;
  height: 40px;
  margin-right: 10px !important;
}

.button-blue:hover {
  background-color: #4352db !important;
  border: 1px solid white !important;
  color: black !important;
  width: 200px;
  height: 40px;
  margin-right: 10px !important;
}
.button-blue-active {
  background-color: #4352db !important;
  border: 1px solid white !important;
  color: white !important;
}

.button-light-blue {
  background-color: #cce5ff !important;
  border: 1px solid #308aeb !important;
  color: #308aeb!important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}

.button-light-blue:hover {
  background-color: #449fff !important;
  border: 1px solid #4f9df0 !important;
  color: white !important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}
.button-light-red {
  background-color: #f8d7da !important;
  border: 1px solid #eb3342 !important;
  color: #eb3342!important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}

.button-light-red:hover {
  background-color: #eb3342 !important;
  border: 1px solid #eb3342 !important;
  color: white !important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}
.button-light-yellow {
  background-color: #fff3cd !important;
  border: 1px solid #fccc2f !important;
  color: #ffcb1f!important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}

.button-light-yellow:hover {
  background-color: #fccc2f !important;
  border: 1px solid #fccc2f !important;
  color: white !important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}
