.nav-link a:link {
  text-decoration: none;
  color: #66788a;
}
.nav-link a:visited {
  text-decoration: none;
}
.nav-link a:hover {
  text-decoration: none;
  color: #212529;
}
.versione{
  color:grey;
  margin-top: 136px;
}

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: space-around;
  flex-flow: row wrap;
}

.nav-table-inactive {
  background-color: white !important;
  line-height: 1.2 !important;
}

.nav-table-active {
  background-color: #303f9f !important;
  line-height: 1.2 !important;
  color: white !important;
}
.box {
  background-color: white;
  border: 1px solid #303f9f !important;
  color: #303f9f;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 40px;
}

.nav-active {
  /* background-color: red !important; */
  border-left: 3px solid #303f9f !important;
  background-color: #d0e4ff !important;
}

.button-green {
  background-color: white !important;
  border: 1px solid #47b881 !important;
  color: #47b881;
  width: 200px;
  height: 40px;
  margin-right: 10px !important;
}

.button-green:hover {
  background-color: #47b881 !important;
  border: 1px solid white !important;
  color: black !important;
  width: 200px;
  height: 40px;
  margin-right: 10px !important;
}
.button-green-active {
  background-color: #47b881 !important;
  border: 1px solid white !important;
  color: white !important;
  width: 200px;
  height: 40px;
  margin-right: 10px !important;
}
.button-green-disactive {
  background-color: white !important;
  border: 1px solid #47b881 !important;
  color: #47b881 !important;
}
.button-green-disactive:hover {
  background-color: #47b881 !important;
  border: 1px solid #47b881 !important;
  color: white !important;
}
.button-blue {
  background-color: white !important;
  border: 1px solid #4352db !important;
  color: #4352db;
  width: 200px;
  height: 40px;
  margin-right: 10px !important;
}

.button-blue:hover {
  background-color: #4352db !important;
  border: 1px solid white !important;
  color: black !important;
  width: 200px;
  height: 40px;
  margin-right: 10px !important;
}
.button-blue-active {
  background-color: #4352db !important;
  border: 1px solid white !important;
  color: white !important;
}

.button-light-blue {
  background-color: #cce5ff !important;
  border: 1px solid #308aeb !important;
  color: #308aeb !important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}

.button-light-blue:hover {
  background-color: #449fff !important;
  border: 1px solid #4f9df0 !important;
  color: white !important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}
.button-light-red {
  background-color: #f8d7da !important;
  border: 1px solid #eb3342 !important;
  color: #eb3342 !important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}

.button-light-red:hover {
  background-color: #eb3342 !important;
  border: 1px solid #eb3342 !important;
  color: white !important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}
.button-light-yellow {
  background-color: #fff3cd !important;
  border: 1px solid #fccc2f !important;
  color: #ffcb1f !important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}

.button-light-yellow:hover {
  background-color: #fccc2f !important;
  border: 1px solid #fccc2f !important;
  color: white !important;
  width: 100px;
  height: 40px;
  margin-right: 10px !important;
}

.button-load-test {
  position: static;
  left: 300px;
  top: 100px;
}

.MuiOutlinedInput-input {
  padding: 10px 5px !important;
}

.MuiInputLabel-outlined {
  transform: translate(12px, 14px) scale(1) !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(12px, -6px) scale(0.75) !important;
}

/* .MuiTable-root {
  height: 600px;
}

.MuiPaper-root.makeStyles-paperContainer2-19.MuiPaper-elevation0.MuiPaper-rounded {
  height: 580px;
}*/

.MuiStepIcon-root.MuiStepIcon-active {
  color: #47b881 !important;
  
}

.MuiStepIcon-root.MuiStepIcon-completed {
  color: #47b881 !important;
}

.flexbox {
  display: flex !important;
  justify-content: space-between !important;
  width: 50% !important;
  max-width: 768px !important;
  height: 100vh !important;
  overflow: hidden !important;
  margin: 0 auto !important;
  padding: 15px !important;

}

.flexbox .board {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  max-width: 300px !important;
  background-color: #FAFAFA !important;
  padding: 15px !important;
  margin: 15px !important;
  border: 1px solid #47b881 !important;
  border-radius: 5px !important;
  height: 400px !important;


  }


.flexbox .board .card {
  padding: 15px 25px !important;
  
  background-color: #cce5ff !important;
  
  cursor: pointer !important;
  
  margin-bottom: 15px !important;
  
}

.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: #47b881 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}

