version: '3'

networks: 
  netbe:

services:
  db:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    tty: true
    ports: 
      - "3306:3306"
    volumes: 
      - ./mysql:/var/lib/mysql
      - ./mysql_init.sql:/docker-entrypoint-initdb.d/1.sql
    environment: 
      MYSQL_DATABASE: sippone
      MYSQL_USER: sippone
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    networks: 
      - netbe
      
  adminer:
    image: adminer
    restart: always
    depends_on: 
      - db
    ports:
      - 9082:8080
    networks: 
      - netbe

